@import url('https://fonts.googleapis.com/css?family=Archivo|Fredoka+One|Gentium+Basic|Neuton|Permanent+Marker|Viga&display=swap');

/* font-family: 'Fredoka One', cursive; */
/* font-family: 'Permanent Marker', cursive; */
/* font-family: 'Viga', sans-serif; */
/* font-family: 'Archivo', sans-serif; */
/* font-family: 'Neuton', serif; */
/* font-family: 'Gentium Basic', serif; */

:root {
    --color-dark: #181329; 	/* hsl(254, 37%, 12%) */
    --color-dark-hsl: 254, 37%, 12%;
    --color-mid: hsl(254, 10%, 55%);
    --color-mid-hsl: 254, 10%, 55%;
    --color-danger: hsl(353, 90%, 65%);
    --color-light: whitesmoke;
}

.font-fantasy {
    font-family: 'Permanent Marker', cursive;
}

.font-serif {
    font-family: 'Gentium Basic', serif;
}

.font-sans {
    font-family: 'Fredoka One', cursive;
}

.bg-color-dark {
    background-color: var(--color-dark);
}

.bg-color-danger {
    background-color: var(--color-danger);
}

.bg-color-light {
    color: var(--color-light);
}

.color-dark {
    color: var(--color-dark);
}

.color-danger {
    color: var(--color-danger);
}

.color-light {
    color: var(--color-light);
}

.bg-mid-trans {
    background-color: hsla(var(--color-mid-hsl),0.7);
    backdrop-filter: blur(8px);
}
.bg-dark-trans {
    background-color: hsla(var(--color-dark-hsl),0.5);
    backdrop-filter: blur(4px);
}

body {
    font-size: 1rem;
    background-color: var(--color-dark);



    /* For nav */
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: helvetica, arial, sans-serif;
    font-size: 16px;
    /* padding-top: 140px; */
    /* transition: padding-top 0.5s ease; */
}
header {
    margin-top: 0;
    width: 100%;
    /* height: 140px; */
    text-align: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 9999 !important;
    line-height: 80px;

  }
  header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 42px;
    color: #fff;
    line-height: 80px;
    text-transform: capitalize;
    font-weight: 100;
    /* transition: all 2s ease; */
    filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.75));
  }
  header nav {
    /* position: absolute; */
    bottom: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
  }
    header div a {
    /* line-height: 80px; */
    /* height: 1.5rem; */
    }


  header a, button, .btn {
    color: var(--color-light);
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    /* filter: drop-shadow(0px, 2px, 6px, 5px, black); */
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.75));
  }
  header a:hover, button:hover, .btn:hover {
    background-color: hsla(var(--color-dark-hsl),0.7);
    box-shadow: 0 0 0 1px var(--color-danger);
    text-decoration: none;
    color: var(--color-danger);
  }

/* Sticky Header Style */
/* ---------------------------------------- */
body.sticky-header {
    /* padding-top: 60px; */
}
body.sticky-header header {
    /* position: fixed; */
    margin-top: -80px;
    /* height: 60px; */
    /* background-color: rgba(52, 152, 219, 0.9); */
}
body.sticky-header header h1 {
/* transform: scale(1, 0); */
}
    
.nav-trans {
    /* background-color: rgba(0, 0, 0, 0.0); */
}

.nav-opaque {
    background-color: hsla(var(--color-dark-hsl),0.7);
    backdrop-filter: blur(8px);
}

header .input-group {
    margin-bottom: 1px !important;
}


.nav-search {
    width: 345px !important;
}
.nav-user {
    width: 345px !important;
    line-height: 1.2rem;
}

